:root {
    --botticelli: #d2d9e6;
    --purple: #660fa0;
    --light-purple: #c6b5fa;
    --dark-gray: #353535;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--botticelli);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-gray);
    padding: 10px 0;
}

h1 {
    font-size: 245%;
}

header h1 {
    padding: 8px 5px 8px 15px;
    background-color: var(--light-purple);
    color: var(--dark-gray);
}

header nav ul {
    margin-right: 40px;
}

header nav ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    color: var(--light-purple);
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    border-bottom: var(--light-purple) solid 2px;
    font-size: 110%;
}

figure {
    /* placeholder values */
    background-color: gray;
    width: 100%;
    height: 150px;
}

h2 {
    font-size: 240%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.about-me h2 {
    flex: 1 0 25%;
    text-align: right;
    padding: 10px;
    color: var(--purple);
    border-right: solid var(--purple) 4px;
}

.about-me p {
    flex: 1 0 75%;
    padding: 10px 25px;
}
