:root {
    --botticelli: #d2d9e6;
    --purple: #660fa0;
    --light-purple: #c6b5fa;
    --dark-gray: #353535;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--botticelli);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-gray);
    padding: 12px 0;
}

h1 {
    font-size: 245%;
}

header h1 {
    padding: 9px 5px 9px 15px;
    background-color: var(--light-purple);
    color: var(--dark-gray);
}

header nav ul {
    margin-right: 40px;
}

header nav ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    color: var(--light-purple);
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    border-bottom: var(--light-purple) solid 2px;
    font-size: 110%;
}

figure {
    /* placeholder values */
    background-color: gray;
    width: 100%;
    height: 150px;
}

h2 {
    font-size: 240%;
}

main {
    padding-right: 45px;
}

.about-me, .work, .contact-me {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.about-me h2, .work h2, .contact-me h2 {
    flex: 1 0 20%;
    text-align: right;
    padding: 10px;
    color: var(--purple);
    border-right: solid var(--purple) 4px;
}

.about-me p {
    flex: 1 0 80%;
    padding: 10px 25px;
}

.work-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 80%;
    height: 500px;
}

.first-work, .other-work {
    height: 50%;
}

.first-item {
    /* margin: 5px; */
    background-color: var(--light-purple);
    height: 100%;
    margin: 0 20px;
}

.other-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.other-items {
    flex: 1 0 50%;
    /* background-color: var(--light-purple); */
    /* margin: 10px; */
}

.item {
    margin: 20px 20px 0 20px;
    background-color: var(--light-purple);
    height: 230px;
}

.contacts {
    flex: 1 1 80%;
    /* display: flex;
    justify-content: space-evenly; */
}

.contacts ul {
    display: flex;
    justify-content: space-evenly;
}

.contact-me ul li {
    /* display: inline; */
    color: var(--purple);
    flex: 1 0 33.3333%;
    height: 100%;
    line-height: 85px;
    font-size: 110%;
    text-align: center;
}

.contact-me ul li p {
    border-bottom: var(--purple) solid 2px;
    display: inline;
}


