:root {
    --botticelli: #d2d9e6;
    --purple: #660fa0;
    --light-purple: #c6b5fa;
    --dark-gray: #353535;
    --cararra: #e7e7e0;
    --electric-violet: #8b16e3;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--botticelli);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-gray);
    padding: 12px 0;
}

h1 {
    font-size: 245%;
}

header h1 {
    padding: 9px 5px 9px 15px;
    background-color: var(--light-purple);
    color: var(--dark-gray);
}

header nav ul {
    margin-right: 40px;
}

header nav ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    color: var(--light-purple);
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    border-bottom: var(--light-purple) solid 2px;
    font-size: 110%;
}

figure {
    /* placeholder values */
    background-color: gray;
    width: 100%;
    height: 150px;
}

h2 {
    font-size: 240%;
}

main {
    padding-right: 45px;
}

.about-me, .work, .contact-me {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    flex-direction: row;
}

.about-me h2, .work h2, .contact-me h2 {
    flex: 1 0 20%;
    text-align: right;
    padding: 10px;
    color: var(--purple);
    border-right: solid var(--purple) 4px;
}

.about-me p {
    flex: 1 0 80%;
    padding: 10px 25px;
}

.work-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 80%;
    height: 650px;
}

.first-work, .other-work {
    height: 325px;
}

.first-item {
    background-color: var(--light-purple);
    height: 325px;
    margin: 0 20px;
}

.other-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.other-items {
    flex: 1 0 50%;
}

.item {
    margin: 20px 20px 0 20px;
    background-color: var(--light-purple);
    height: 305px;
}

.first-item, .item {
    border: 3px solid var(--electric-violet);
    transition: box-shadow .2s ease-in-out;
}

.first-item:hover, .item:hover {
    box-shadow: inset 0px 0px 10px var(--purple), 0 0 15px var(--purple);
}

.first-work-title {
    height: 46%;
    width: 48%;
    background-color: var(--cararra);
    margin: 88px auto;
    box-shadow: 10px 10px 10px var(--electric-violet);
    transition: box-shadow .1s ease-in-out;
}

.other-work-title {
    height: 46%;
    width: 48%;
    background-color: var(--cararra);
    margin: 83px auto;
    box-shadow: 10px 10px 10px var(--electric-violet);
    transition: box-shadow .1s ease-in-out;
}

.first-work-title:hover, .other-work-title:hover {
    /* box-shadow: 10px 10px 10px var(--dark-gray), -10px -10px 10px var(--dark-gray); */
    box-shadow: 13px 13px 10px var(--dark-gray);
}

.first-work-title:active, .other-work-title:active {
    /* change to a percentage smaller than text */
    font-size: smaller;
}

.first-work-title, .other-work-title {
    text-align: center;
    padding: 52px 0;
}

h3 {
    font-size: 175%;
    color: var(--purple);
}

.contacts {
    flex: 1 1 80%;
}

.contacts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-me ul li {
    /* display: inline; */
    color: var(--purple);
    flex: 1 0 33.3333%;
    height: 100%;
    line-height: 85px;
    font-size: 110%;
    text-align: center;
}

.contact-me ul li p {
    border-bottom: var(--purple) solid 2px;
    display: inline;
}

@media screen and (max-width: 900px) {
    .contact-me, .about-me, .work {
        flex-direction: column;
    }

    .contact-me h2, .about-me h2, .work h2 {
        text-align: center;
        border-bottom: solid var(--purple) 4px;
        border-right: 0;
        margin: 0 auto 10px auto;
    }

    main {
        padding-right: 0;
    }

    .other-items {
        flex: 1 0 100%;
    }
    
    .contact-me {
        margin-top: 340px;
    }

}

@media screen and (max-width: 650px) {
    .contact-me ul li {
        flex: 1 0 100%;
    }

    .first-work-title, .other-work-title {
        padding: 32px 0;
    }
}